/*-- scss:defaults --*/

// Colors
$gray: #64605f;
$darkblue: #1D4A7A;
$lightblue: #066E91;
$lightgray: #CCCCCC;
$orange: #CC712B;
$darkgreen: #3E4F2A;
$beige: #D9BC80;
$light-green: #D1D9CE;
$cream: #FDFBF7;
$offblack: #474645;
$grayer: #ADADAD;

// Base document colors
$navbar-bg: $light-green; // navbar
$navbar-fg: $offblack; // navbar foreground elements
$navbar-hl: $gray; // highlight color when hovering over navbar links
$body-bg: $offblack; // page background 
$body-color: $cream; // page text 
$footer-bg: $offblack; // footer 
$link-color: $lightblue; // hyperlinks